{% extends 'base.html' %}
{% load static %}
{% block page_title %}About Whatever This Thing Is{% endblock page_title %}

{% block content %}
  <div class="content about row">
    <h3>About Us</h3>
    <div class="media">
      <div class="media-left">
        <img class="img-circle media-object" src="{% static 'images/about/prof1.jpg' %}" />
      </div>
      <div class="media-body">
        <p>Usu quodsi deseruisse eu, an omnes iuvaret tibique mei. Ipsum nonumy ex cum. Te vel quod accumsan antiopam, cu dicit graeci mei. Sea enim prompta ut. Cu laudem aliquam hendrerit per, id vix posse facete verterem. Vim at pericula postulant, ex qui tale democritum.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <img class="img-circle media-object" src="{% static 'images/about/prof2.jpg' %}" />
      </div>
      <div class="media-body">
        <p>Eu legere phaedrum philosophia vim, vel possim suscipit an, an per clita voluptua principes. Per movet mollis in. Ei vis nullam commune volutpat, vidit discere vim eu, sadipscing complectitur id qui. Error virtute salutatus eum cu, mel quem vivendum at, sit impetus expetenda no.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <img class="img-circle media-object" src="{% static 'images/about/prof3.jpg' %}" />
      </div>
      <div class="media-body">
        <p>Ei per illum commodo aeterno, duo ad sonet bonorum conceptam, et epicuri appetere maiestatis mea. Error temporibus te ius. Est elitr labores ne, ad mel prompta assueverit, et nam soleat officiis. Ad dolores nominati principes his, quo ad option laboramus percipitur, soluta neglegentur sit ut. Ne accusam salutatus ius. Case minimum nec ex.</p>
      </div>
    </div>
  </div>
{% endblock content %}
