{% extends 'base.html' %}
{% load static %}
{% block page_title %}Authors{% endblock page_title %}

{% block content %}
  <div class="content authors">
    <h3>Authors</h3>
  {% for a in author_data %}
    <div class="media">
      <div class="media-left">
        <span class="glyphicon glyphicon-user media-object" aria-hidden="true"></span>
        <p>{{ a.author }}</p>
      </div>
      <div class="media-body well">
        <dl>
        {% for b in a.blogs %}
          <dt>
            <a href="../{{ b.slug }}" class="media-heading">{{ b.title }}: </a>
          </dt>
          <dl>{{ b.lede|truncatewords:10 }}</dl>
        {% endfor %}
        </dl>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock content %}
