<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block page_title %}From Server to Server{% endblock page_title %}
  </title>
  {% include "partials/head.html" %}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <div class="logo"><h1>LOGO</h1></div>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        {% block topbar %}{% endblock topbar %}
      </div>
    </div>
    <div class="row">
      <div class="side-bar col-sm-2 col-md-2 col-lg-2">
        {% include "partials/nav.html" %}
      </div>
      <div class="main-section col-sm-8 col-md-8 col-lg-8">
        {% block content %}{% endblock content %}
      </div>
      <div class="side-bar col-sm-2 col-md-2 col-lg-2">
      </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
</body>
</html>
